body {
  font-family: Arial, sans-serif;
  background: #141414;
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 500px;
  margin: auto;
  background: rgb(250, 171, 1);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
  text-align: center;
  color: #333;
}

label {
  display: block;
  margin-top: 15px;
  font-weight: bold;
}

input,
select,
button {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #000000;
  color: white;
  font-weight: bold;
  cursor: pointer;
  margin-top: 20px;
  border: none;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #ffbc04;
}

#tiposTosa {
  display: none;
}
